body {
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#000066;
}

h1 {
	font-size:16pt;
	text-align:center;
}

#Table {
	margin:auto;
	border:1px solid #000066;
}

#Table tbody td  {
	border:1px solid #000066;
	width:120px;
	text-align:center;
}

#Table tfoot td {
	text-align:center;
	margin:0px;
	padding:10px;
}

#Table tfoot td form input {
	margin: 0px 5px 0px 5px;
}

#Message {
	color:red;
	font-weight:bold;
}

#PrevRows, #NextRows {
	background-color:gray;
	/* display:none; */
}